    .ui-widget-content {
      border-color: #7f7f7f;
      background: #ffffff;
      color: #222222;
    }
    .ui-corner-all {
      border-radius: 0;
    }
    .ui-state-highlight {
      border-color: none;
      background: #eaeaea;
      color: #4c4c4c;
    }
    .ui-shadow {
      box-shadow: none;
      top: 19px !important;
    }
  