<h1>About</h1>
<br/>
<hr/>
<h2>Input Text</h2>
<label class="input-text-label">Input Text (onFocus)</label>
<div class="input-text">
    <input type="text" pInputText placeholder="Input Text">
</div>
<br/>
<label class="input-text-label">Input Text (diasbled)</label>
<div class="input-text">
    <input type="text" pInputText placeholder="Input Text" disabled>
</div>
<br/>
<label class="input-text-label">Input Text (required)</label>
<div class="input-text">
    <input type="text" pInputText placeholder="Input Text" required>
</div>
<br/>
<hr/>
<h2>Check Boxes</h2>
<p-checkbox class="checkbox" label="CheckBox(onFocus)"></p-checkbox>
<br>
<p-checkbox class="checkbox" label="CheckBox(disabled)" disabled="true"></p-checkbox>
<br/>
<br/>
<hr/>
<h2>Combo Boxes</h2>
<p-dropdown class="dropdown" [options]="countries"></p-dropdown>
<br/>
<br/>
<hr/>
<h2>Table</h2>
<p-table class="table-serach" [value]="cars">
    <ng-template pTemplate="header">
        
        <tr>
            <th>Field Name</th>
            <th>Search For</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{car.vin}}</td>
            <td> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus,cum doloremque totam, ea fuga aliquid molestiae non possimus tempora quae quos dolorum. </td>
        </tr>
    </ng-template>

        <ng-template pTemplate="summary">
            
        </ng-template>
</p-table>
<br/>
<br/>
<hr/>