<h1>About</h1>
<br/><hr/><br/>
    <label class="input-text-label">Input Text (onFocus)</label>
    <div class="input-text">
        <input type="text" pInputText placeholder="Input Text">  
    </div>
    <br/>
    <label class="input-text-label">Input Text (diasbled)</label>
    <div class="input-text">
    <input type="text" pInputText placeholder="Input Text" disabled> 
    </div>
    <br/>
    <label class="input-text-label">Input Text (required)</label>
    <div class="input-text">
    <input type="text" pInputText placeholder="Input Text" required> 
    </div>   

<br/><hr/><br/>
<div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
</div>
<div>
    <h3>
        patrick@tipe.io
    </h3>
</div>
<pre>this.localState = {{ localState | json }}</pre>