.save-button {
    font-weight: bold;
    color:#ffffff;
    border-radius: 4px;
    background: linear-gradient(#7bb51e,#668f16);
    border: 1px solid #668f16;
    &:focus {
        border: 1px solid #b4e461;
        background: linear-gradient(#7bb51e,#668f16) !important;
        color:#ffffff !important;
        outline: none;
    }
    &:hover {
        background: linear-gradient(#7bb51e,#7ab21d) !important; 
    }
    &:disabled {
        background: linear-gradient(#7bb51e,#668f16) !important;
    }
    &::first-letter {
        text-decoration: underline;
    }
    
}

.cancel-button {
    color:#333333;
    border-radius: 4px;
    background: linear-gradient(#e5e5e5,#cbcbcb);
    border: 1px solid #cbcbcb;
    &:focus {
        border: 1px solid #b4e461;
        background: linear-gradient(#e5e5e5,#dedede) !important;
        color:#333333 !important;
        outline: none;
    }
    &:hover {
        background: linear-gradient(#e5e5e5,#dedede) !important; 
    }
    &:disabled {
        background: linear-gradient(#e5e5e5,#cbcbcb) !important;
    }
    &::first-letter {
        text-decoration: underline;
    }
}


.search-button {
    width: 23px !important;
    color:#333333;
    border-radius: 4px;
    background: linear-gradient(#e5e5e5,#cbcbcb);
    border: 1px solid #cbcbcb;
    &:focus {
        border: 1px solid #b4e461;
        background: linear-gradient(#e5e5e5,#dedede) !important;
        outline: none;
    }
    &:hover {
        background: linear-gradient(#e5e5e5,#dedede) !important; 
    }

}

.ui-button {
    height: 23px;
    width: 65px;
    &:disabled {
        opacity: 0.5;
    }
}