/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import './primeTheme';
@import '../../node_modules/primeng/resources/primeng.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/quill/dist/quill.core.css';
@import '../../node_modules/quill/dist/quill.snow.css';
@import './RadioButton';
@import './Button';

@import './ProgressSpiner';
@import './Card';

@import './Dropdown';
@import './TurboTable';



nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

label {
  font-family: "Verdana", Arial, sans-serif;
  font-size: 11px;
  margin-bottom: 0;
}

.alert-danger {
  color: #dc3545;
  font-size: 11px;
  font-family: Verdana;
  margin-bottom: 0px;
  padding-top: 0px;
  background-color: #ffffff00; 
  border-color: #ffffff00; 
}


