<zzz attr.z='qq'></zzz>
<hr>
<div>
    <h3>Radio Buttons</h3>
    <p-radioButton name="group1" value="Option 1" label="Subscriber"></p-radioButton>
    <p-radioButton name="group1" value="Option 2" label="Subscriber"></p-radioButton>
    <p-radioButton name="group1" value="Option 3" label="Subscriber" [disabled]="true"></p-radioButton>
</div>
<hr>
<div>
    <h3>Buttons</h3>
    <button pButton type="submit" label="Save" class="ui-button-primary"></button>
    <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
    <button pButton type="button" icon="fas fa-search mini" class="mini-button"></button>
    <button pButton type="submit" label="Save" class="ui-button-primary" [disabled]="true"></button>
    <button pButton type="button" label="Cancel" class="ui-button-secondary" [disabled]="true"></button>
</div>
<hr>
<div>
    <h3>Date/Time Fields</h3>
    <div class="content-section implementation">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <p-calendar [(ngModel)]="value" [showIcon]="true"></p-calendar>{{date3|date}}
            </div>
        </div>
    </div>
</div>
<hr>
<div>
    <h3>Data Loading Indicator</h3>
    <div class="spiner">
        <div id="floatingCirclesG">
            <div class="f_circleG" id="frotateG_01"></div>
            <div class="f_circleG" id="frotateG_02"></div>
            <div class="f_circleG" id="frotateG_03"></div>
            <div class="f_circleG" id="frotateG_04"></div>
            <div class="f_circleG" id="frotateG_05"></div>
            <div class="f_circleG" id="frotateG_06"></div>
            <div class="f_circleG" id="frotateG_07"></div>
            <div class="f_circleG" id="frotateG_08"></div>
        </div>
        <p-message severity="warn" text="Loading Data..."></p-message>
    </div>
</div>
<hr>
<div>
    <h3>Message Box</h3>
    <p-card styleClass="ui-card-shadow">
        <p-header>
            <div class="header-msg">Patient Selection</div><button pButton type="button" icon="fa-close" class="box-button"></button>
        </p-header>
        <div class="card-content">No patient was found with Patient Number 1234!</div>
        <p-footer>
            <button pButton type="submit" label="OK" class="ok-button"></button>
        </p-footer>
    </p-card>
</div>
<hr>

<about></about>